body{
    font-family: 'Raleway', sans-serif;
}

section{
    padding: 40px;
}
.title{
    font-weight: bold;
    color:hsl(35, 20%, 37%);
}

span{
    font-weight: bold;
    color:indianred;
}
.welcome{
    display: flex;

}
.welcome p{
    margin-top: 50px; 
    padding-right:40px;
    width: auto;
}
a{
    text-decoration:none;
    border: 3px inset palegreen;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom:500px;
    color:white;
    background-color:darkblue;
}
.welcome img{
    padding:10px;
    border: 5px outset purple;
    border-radius: 50%;
    width:auto;
    background-color:orangered;
    /* margin-left:50px; */

}

.welcome_two{
    display:flex;
    background-image:url(section1-removebg-preview.png);
    background-repeat: no-repeat;
    /* background-size:cover; */
    background-position:center;
}
p{
    padding-left: 50px;
}
.welcome_two img{
    border: 5px inset purple; 
    border-radius:50%;
    background-color:orangered;
    
}
.welcome_two p{
    width: 60%;
    margin-top:100px;
}


