body{
    font-family: 'Raleway', sans-serif;
}

section{
    padding: 40px;
}
.title{
    font-weight: bold;
    color:hsl(35, 20%, 37%);
}

span{
    font-weight: bold;
    font-size:32px;
    color:purple;
}
.welcome{
    display: flex;

}
.welcome p{
    margin-top: 50px; 
    padding-right:40px;
    width: auto;
}
a{
    text-decoration:none;
    border: 3px inset palegreen;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom:500px;
    color:white;
    background-color:darkblue;
}
.welcome img{
    padding:10px;
    border: 5px solid rgb(255, 248, 220);
    border-radius: 50%;
    width:auto;
    background-color:orangered;
    

}

.welcome_two{
    display:flex;
    background-image:url(section1-removebg-preview.png);
    background-repeat: no-repeat;
    /* background-size:cover; */
    background-position:center;
    padding-top:20px;
}
.title2{
    display:block;
}
p{
    padding-left: 50px;
}
.welcome_two img{
    width:auto;
    padding-left: 40px;
    
}
.welcome_two p{
    width: 50%;
    margin-top:80px;
}

.welcome_three{
    display: flex;
    padding: 20px;
}

.welcome_three .box{
    border: 2px solid whitesmoke;
    padding: 40px;
    background-color:cornsilk;
    width: 50%;
    box-shadow: 8px 5px 9px black;
    margin-right: 40px;
} 
#brdr_slice{
    border-left: 7px solid;
    border-image: linear-gradient(indianred,crimson);
    border-image-slice: 1; 
}
.box p{
    padding:20px;
}

footer{
    background-color:rgba(0, 0, 0, 0.61);
    color: white;
    padding:20px;
    text-align: center;
}



